langchain
langgraph
langchain-core
langchain-openai
langgraph-checkpoint-sqlite
python-dotenv
langsmith
langgraph-cli[inmem]
sqlmodel
fastapi
jinja2
python-multipart
passlib[bcrypt]
starlette
itsdangerous