langchain
langgraph
langchain-core
langchain-openai
langgraph-checkpoint-sqlite
python-dotenv
langsmith
langgraph-cli[inmem]
sqlmodel
fastapi
jinja2
markdown
python-multipart
passlib[bcrypt]
starlette
itsdangerous

google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client

redis